dontcommit.py
dependencies/backtrader/dontcommit.py
install_windows.ps1
*.session
dependencies/backtrader.egg-info
dependencies/build
dependencies/TradeLog.log
TradeLog.log
QuantStat_*.html
.*.session-journal
*.cpython-313.pyc
bt
*.log
*.pkl
*.txt
*.csv
*.json
memory_debug.py
memory_profile_summary.png
Example_Backtest.py
market_scanner.log
dependencies/JackRabbit
dependencies/backtrader/dontcommit.py
dependencies/backtrader/strategies/Adaptive_NearestNeighbors_RationalQuadraticKernel.py
*.joblib
candles/
dependencies/backtrader/dontcommit.py
QuantStats
dependencies/MsSQL/build/
dependencies/MsSQL/*.egg*
out
trashpad
TODO.rst
*.db
dependencies/quantstats_lumi_btquant/quantstats_lumi.egg-info
testing_optuna_newmacd.py
testing_optuna_newmacd_v1.py
testing_optuna_newmacd.py
.continue
debug_optuna_runs.py
debug_codon.py
testing_optuna_newmacd_v2.py
testing_optuna_newmacd_v4.py
testing_optuna_newmacd_v5.py
testing_optuna_newmacd.py
testing_optuna_newmacd_v2.py
.btq_cache/BTC_1m_USDT_dac9fdc499b5.parquet
testing_optuna_newmacd_v8_still_v6prototype.py
screenlog.0
debugme.log1
testing_optuna_newmacd_v6_backup_after_vectorizedcaching_kernel.py
wandb/run-*
wandb/run-20250905_233238-js2i0eio/run-js2i0eio.wandb
.btq_cache_v2025*
.btq_cache_v2025/*
wandb/latest-run
testing_momentum_truezerolag.py
testing_cooking.py
.btq_cache/*
exports/zerolag_sine_momentum_intermediates.parquet
SineWeightZeroLagQQEVolMesaAdaptive.py 
dashboard/.btq_cache/ALPACA_1h_USDT_e03f38c7ce6d.parquet
dashboard/.btq_cache/ALPINE_1h_USDT_48b92518375f.parquet
dashboard/.btq_cache/KNC_1h_USDT_0c3946abd905.parquet
dashboard/.btq_cache/KNC_1h_USDT_ed8ff21ac816.parquet
dashboard/.btq_cache/PROS_1h_USDT_f5131e340167.parquet
dashboard/.btq_cache/RESOLV_1h_USDT_c000894308d8.parquet
SineWeightZeroLagQQEVolMesaAdaptive.py
