dontcommit.py
dependencies/backtrader/dontcommit.pys
install_windows.ps1
*.session
dependencies/backtrader.egg-info
dependencies/build
dependencies/TradeLog.log
TradeLog.log

testing*.py
QuantStat_*.html

.*.session-journal
*.cpython-313.pyc
bt
*.log
*.pkl
*.txt
*.csv
*.json
memory_debug.py
memory_profile_summary.png
Example_Backtest.py
market_scanner.log
dependencies/JackRabbit
dependencies/backtrader/dontcommit.py
dependencies/backtrader/strategies/Adaptive_NearestNeighbors_RationalQuadraticKernel.py
*.joblib
