import backtrader as bt
import joblib


identify = ""
jrr_webhook_url = "http://127.0.0.1:80"
jrr_order_history = "/home/JackrabbitRelay2/Data/Mimic/"
jrr_order_history_sub1 = ""

bsc_privaccount1 = ""
bsc_privaccountaddress = ""

#Discord
discord_webhook_url = 'https://discord.com/api/webhooks/'
discord_BTQ_url = 'https://discord.com/api/webhooks/'

# Telegram
telegram_api_id = 11111111
telegram_api_hash = ""
telegram_session_file = ".base.session"
telegram_session_btq = ".BTQTeleDC.session"
telegram_channel_debug = -100
telegram_channel_machinelearning = -100


def ptu():
    art = [
        r'''
               ...                            
             ;::::;                           
           ;::::; :;                          
         ;:::::'   :;                         
        ;:::::;     ;.                        
       ,:::::'       ;           OOa\         
       ::::::;       ;          OOOOL\        
       ;:::::;       ;         OOOOOOcO       
      ,;::::::;     ;'         / OOOOOaO      
    ;:::::::::`. ,,,;.        /  / DOOOWOO    
  .';:::::::::::::::::;,     /  /     OOAOO   
 ,::::::;::::::;;;;::::;,   /  /        OSOO  
;`::::::`'::::::;;;::::: ,#/  /          DHOO 
:`:::::::`;::::::;;::: ;::#  /            DEOO
::`:::::::`;:::::::: ;::::# /              ORO
`:`:::::::`;:::::: ;::::::#/               DOE
 :::`:::::::`;; ;:::::::::##                OO
 ::::`:::::::`;::::::::;:::#                OO
 `:::::`::::::::::::;'`:;::#                O 
  `:::::`::::::::;' /  / `:#                  
   ::::::`:::::;'  /  /   `#              
'''

    ]
    for line in art:
        print(line)


